force-app/main/default/flows/Apex_From_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexFromFlow</name>
        <label>ApexFromFlow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>ApexFromFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>isOld</name>
            <value>
                <elementReference>Is_Old</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OppId</name>
            <value>
                <elementReference>Input_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Apex From Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apex From Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Flow_to_Apex_Database_update</name>
        <label>Flow to Apex Database update</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ApexFromFlow</targetReference>
        </connector>
        <fields>
            <name>Is_Old</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Old</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Opportunity_ID</name>
            <fieldText>Enter Opportunity ID</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Opportunity_ID_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Input ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_to_Apex_Database_update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isOld</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
